In [77]:
from datetime import datetime, date

from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path
import requests

In [2]:
url = "https://www.blm.gov/or/resources/recreation/rogue/rogue_river.php"

In [41]:
dir_prj = Path.cwd().parent
dir_data = dir_prj / 'data'
dir_raw = dir_data / 'raw'

In [10]:
def get_row_values(tr):
    td_lst = tr.find_all('td')
    td_val_lst = [td.decode_contents() for td in td_lst]
    return td_val_lst

In [11]:
def get_table_values(tbl):
    val_lst = [get_row_values(tr) for tr in tbl.find_all('tr')]
    val_lst = [r for r in val_lst if len(r) == 3]
    val_lst = [r for r in val_lst if r != ['Day', 'Date', 'Spaces']]
    return val_lst

In [73]:
def process_table(tbl):

    mth_str = tbl.find('th').decode_contents()

    row_lst = get_table_values(tbl_lst[0])

    out_lst = [[datetime.strptime(f'{int(r[1]):02d} {mth_str} {yr}', '%d %b %Y').isoformat(), r[2]] for r in row_lst]
    
    return out_lst

In [3]:
res = requests.get(url)

res

In [4]:
soup = BeautifulSoup(res.text, 'html.parser')

In [5]:
tbl_lst = [tbl for tbl in soup.find_all('table') if tbl.attrs['summary'].startswith("Available Float Space Openings")]

In [68]:
today = datetime.today()
yr = today.year

yr

2023

In [75]:
lst = process_table(tbl_lst[0])

lst

[['2023-05-15T00:00:00', '73'],
 ['2023-05-16T00:00:00', '79'],
 ['2023-05-17T00:00:00', '35'],
 ['2023-05-18T00:00:00', '21'],
 ['2023-05-19T00:00:00', '7'],
 ['2023-05-20T00:00:00', '26']]

In [79]:
pd.DataFrame(lst, columns=['launch_date', 'available_user_days'])

           launch_date available_user_days
0  2023-05-15T00:00:00                  73
1  2023-05-16T00:00:00                  79
2  2023-05-17T00:00:00                  35
3  2023-05-18T00:00:00                  21
4  2023-05-19T00:00:00                   7
5  2023-05-20T00:00:00                  26

In [70]:
partition_dir_nm = f"retrieval_date={today.isoformat()}"

partition_dir_nm

'retrieval_date=2023-05-09T06:20:42.765761'